:root {
    --ft38: 2.375rem; /* 38px */
    --ft32: 2rem; /* 32px */
    --ft24: 1.5rem; /* 24px */
    --ft20: 1.25rem; /* 20px */
    --ft16: 1rem; /* 16px */
    --ft15: 0.9375rem; /* 15px */
    --ft14: 0.875rem; /* 14px */
    --ft12: 0.75rem; /* 12px */
    --ft10: 0.625rem; /* 10px */
}