.users-ctn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/web-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.users-txt-color {
  color: var(--basic-white);

  @media (max-width: 450px) {
        
  }
}

.users-title {
  font-size: var(--ft38);
  align-self: self-start;
  margin: 3.75rem 5.5rem; /* 60px 88px */

  @media (max-width: 450px) {
        
  }
}
